{{ $x := .Title }}
{{ $artifacts := slice }}
{{ range $metalink := .Site.Data.releaseArtifacts.metalink }}{{ range $file := $metalink.files }}{{ if eq ( printf "v%s" $file.version ) $x }}{{ $artifacts = $artifacts | append $file }}{{ end }}{{ end }}{{ end }}

{{ with $artifacts }}
  <pre><code>                                                          sha256  file{{ range $file := . }}
{{ range $hash := .hashes }}{{ if eq $hash.type "sha-256" }}{{ $hash.hash }}{{ end }}{{ end }}  <a href="{{ ( index .urls 0 ).url }}">{{ .name }}</a>{{ end }}</code></pre>
{{ end }}
