{{ define "main" }}
  <article class="markdown">
    <h1>{{ .Title }}</h1>

    {{ .Content }}

    <h2>Stable Releases</h2>

    <p>
      The following are official releases, starting with the most recent version.
    </p>

    {{ $first := true }}
    {{ range $idx, $page := sort .Pages.ByWeight.Reverse }}{{ with $page }}{{ if ( index .Site.Data.repositoryTags.dates .Title ) }}
      <article>
        <h3>
          <a href="{{ .Permalink }}">{{ .Title }}</a>{{ with index .Site.Data.repositoryTags.dates .Title }} ({{ . | dateFormat "January 2, 2006" }}){{ end }}
        </h3>

        {{ if $first }}
          {{ $first = false }}

          <div class="markdown">
            {{ .Content }}

            <p>Artifacts</p>

            {{ partial "release/artifacts.html" . }}
          </div>


        {{ end }}
      </article>
    {{ end }}{{ end }}{{ end }}
  </article>

  <article class="markdown" style="margin-top:4em;">
    <h2>Upcoming Releases</h2>

    <p>
      The following are drafts for upcoming releases (subject to change).
    </p>

    {{ range sort .Pages.ByWeight.Reverse }}{{ if not ( index .Site.Data.repositoryTags.dates .Title ) }}
      <article>
        <h3>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
      </article>
    {{ end }}{{ end }}
  </article>
{{ end }}
