{{ define "main" }}
  <article class="markdown">
    {{ $x := .Title }}
    <h1>{{ .Title }}</h1>

    {{ if not ( index .Site.Data.repositoryTags.dates .Title ) }}
      <p>
        <em>
          <strong>Warning:</strong>
          This is a draft of an upcoming release and is subject to change.
        </em>
      </p>
    {{ end }}

    <article class="markdown">
      {{ with index .Site.Data.repositoryTags.dates .Title }}
        <p>Released {{ . | dateFormat "January 2, 2006" }}</p>
      {{ end }}

      {{ with .Content }}
        <h2 id="notes">Release Notes</h2>

        {{- . -}}
      {{ end }}

      <h2 id="artifacts">Artifacts</h2>

      {{ partial "release/artifacts.html" }}
    </article>
  </article>
{{ end }}
